*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/dbnavigator.xml
.idea/dbnavigator.xml
.idea/dbnavigator.xml
.idea/caches/build_file_checksums.ser
app/build.gradle
app/proguard-rules.pro
app/release/app-release.apk
app/release/mist-beta.apk
build.gradle
